@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar-track {
  background: #007DBE;
}
.loader {
  height: 100vh;
}
.wrapper {
  height: 150vh;
  color: #333333;
}
.main1 {
  height: calc(110vh);
  text-transform: uppercase;
}
nav {
  z-index: 1;
  position: fixed;
}
.light {
  background: #007dbe;
}
span{
  background:#8F91A2;
}
